/* HTML */
html {
    scroll-behavior: smooth;
}

/* NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR NAV BAR */

.nav-link {
    color: rgb(255, 255, 255) !important;
    font-size: 34px !important;
    font-family: 'Bubblegum Sans', cursive !important;
    text-shadow: 2px 2px rgb(0, 247, 255) !important;
}

.nav-link:hover {
    color: rgb(0, 247, 255) !important;
    font-size: 34px !important;
    font-family: 'Bubblegum Sans', cursive !important;
    text-shadow: 2px 2px rgb(255, 247, 0) !important;
}

.navbar .active{
    color: rgb(0, 247, 255) !important;
    font-size: 34px !important;
    font-family: 'Bubblegum Sans', cursive !important;
    text-shadow: 2px 2px rgb(255, 247, 0) !important;
    text-decoration: underline;
}

.nav li{
    float:left;
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-size: 34px !important;
    font-family: 'Bubblegum Sans', cursive !important;
    text-shadow: 2px 2px rgb(0, 0, 0) !important;
}

.navbar-brand:hover  {
    color: rgb(255, 247, 0) !important;
    font-size: 34px !important;
    font-family: 'Bubblegum Sans', cursive !important;
    text-shadow: 2px 2px rgb(0, 247, 255) !important;
}

.navbar-nav .open .dropdown-menu {
    background: rgb(255, 0, 0) !important;
}

.navbar-nav .open .dropdown-menu .dropdown-header {
    color: #999999 !important;
}

/* SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS */

body {
    padding-top: 77px;
    position: relative;
}

h1 { 
    font-size: 96px !important;
    /* font-family: 'Bubblegum Sans', cursive !important; */
    font-family: 'Mouse Memoirs', sans-serif;
}

h2 {
    font-size: 74px !important;
    font-family: 'Bubblegum Sans', cursive !important;
}

h3 {
    font-size: 48px !important;
    font-family: 'Bubblegum Sans', cursive !important;
    /* font-family: 'Poppins', sans-serif !important; */
    /* font-family: 'DM Serif Display', serif !important; */
}

p {
    font-size: 24px !important;
    /* font-family: 'Fuzzy Bubbles', cursive !important; */
    font-family: 'Bubblegum Sans', cursive !important;
    color: rgb(255, 255, 255) !important;
}


/* HOME */

.home {
    background-color: rgb(68, 1, 113);
    scroll-margin-top: 77px;
    position: relative;
    padding-bottom: 40px;
    box-shadow: 0px 0px 5em 0.5em rgb(0, 0, 0)
}

.home h1 {
    color: rgb(255, 251, 0);
    text-shadow: 2px 2px rgb(221, 0, 255);
}

.home p {
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 24px !important;
}

.home a {
    text-shadow: 1px 1px rgb(255, 247, 0);
    color: rgb(0, 255, 255);
    font-size: 22px !important;
}

.home a:hover {
    text-shadow: 1px 1px rgb(255, 0, 247);
    color: rgb(255, 247, 0);
    font-size: 22px !important;
}

/* RESEARCH */

.research {
    background-color: rgb(88, 0, 0);
    scroll-margin-top: 77px;
    position: relative;
    padding-bottom: 40px;
    box-shadow: 0px 0px 5em 0.5em rgb(0, 0, 0)
}

.research h1 {
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px rgb(80, 243, 255);
}

.research p {
    text-shadow: 1px 1px rgb(195, 0, 188);
    color: rgb(255, 255, 255) !important;
}

.research a {
    text-shadow: 1px 1px rgb(0, 47, 255);
    color: rgb(247, 0, 255) !important;
}

.research a:hover {
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: rgb(251, 255, 142) !important;
}

/* PUBLICATIONS */

.publications {
    background-color: rgb(0, 82, 4);
    scroll-margin-top: 77px;
    position: relative;
    padding-bottom: 40px;
    box-shadow: 0px 0px 5em 0.5em rgb(0, 0, 0)
}

.publications h1 {
    color: rgb(81, 177, 255);
    text-shadow: 2px 2px rgb(255, 255, 255);
}

.publications h3 {
    color: rgb(255, 179, 0);
    text-shadow: 2px 2px rgb(36, 51, 255);
}

.publications p {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 24px !important;
}

.publications a {
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-size: 24px !important;
}

.publications a:hover {
    color: rgb(246, 255, 0);
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 24px !important;
}

/* CONTACT */

.contact {
    background-color: rgb(200, 97, 0);
    scroll-margin-top: 77px;
    position: relative;
    padding-bottom: 40px;
    box-shadow: 0px 0px 5em 0.5em rgb(0, 0, 0)
}

.contact h1 {
    color: rgb(0, 255, 8);
    text-shadow: 2px 2px rgb(11, 0, 227);
}

.contact p {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0) ;

}



/* PARALLAX PARALLAX PARALLAX PARALLAX PARALLAX PARALLAX PARALLAX PARALLAX  */

.parallax-window {
    min-height: 600px;
    background: transparent;
}

/* IMAGES IMAGES IMAGES IMAGES IMAGES IMAGES IMAGES IMAGES IMAGES IMAGES  */

.circle-img {
    width: 25vw;
    height: auto;
    border-radius: 50%;
    box-shadow: 0.1em 0.1em yellow;
    display: block;
    margin: auto;
}

.circle-img:hover {
    box-shadow: 0.1em 0.1em rgb(0, 242, 255);
    filter:blur();
}

.research-img {
    max-width: 13vw;
    height: 13vw;
    border-radius: 50%;
    /* filter:grayscale(); */
    box-shadow: 0.1em 0.1em rgb(0, 225, 255);
    display: block;
    margin: auto;
}

.research-img:hover {
    box-shadow: 0.1em 0.1em rgb(208, 0, 255);
    filter:none
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.c-icon {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75px;
    filter: drop-shadow(0px 0px 4px black);
}

.c-icon:hover {
    filter: drop-shadow(0px 0px 4px rgb(0, 213, 255));
}

/* MODAL MODAL MODAL MODAL MODAL MODAL MODAL MODAL  */

.modal-title {
    font-size: 45px !important;
    font-family: 'Mouse Memoirs', sans-serif;
}

.modal-body {
    font-size: 24px !important;
    font-family: 'Bubblegum Sans', cursive !important;
}

